<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Dimitri De Kerf, Frank Vaernewyck, Karen Broes"/>
    <meta name="keywords" content="microservices, visual notation"/>
    <meta name="description" content="Micro Services - Web-based Visualization of microservices"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" type="text/css" href="styles/foundation.css"/>
    <script src="scripts/vendor/modernizr.js" charset="utf-8"></script>

    <!--<link rel="stylesheet" type="text/css" href="styles/vowl.min.css" />-->
    <link rel="stylesheet" type="text/css" href="styles/toolstyle.min.css"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <!--<link rel="stylesheet" media="screen" href="styles/bootstrap.css"/>-->
    <link rel="stylesheet" type="text/css" href="styles/microserv.css"/>

    <!--<link href="/stylesheets/_normalize.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="/stylesheets/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />-->


    <title>Micro Services</title>
</head>

<body ng-app="microApp">
<main ng-controller="MicroController">
    <section id="canvasArea">
        <div id="logo">
            <h2>{{title}}<br/><span>V.&nbsp;{{appVersion}}</span></h2>
        </div>
        <div id="loading-info">
            <div id="loading-error" class="hidden">
                <div id="error-info"></div>
                <div id="error-description-button" class="hidden">Show error details</div>
                <div id="error-description-container" class="hidden">
                    <pre id="error-description"></pre>
                </div>
            </div>
            <div id="loading-progress" class="hidden">
                <span>Loading micro services... </span>

                <div class="spin">&#8635;</div>
            </div>
        </div>
        <micro-directive class="graph" val="nodes"></micro-directive>
        <!--<div class="graph">-->
        <div class="control-zoom">
            <a class="control-zoom-in" href="#" title="Zoom in"></a>
            <a class="control-zoom-out" href="#" title="Zoom out"></a>
        </div>
        <!--</div>-->
    </section>
    <aside id="detailsArea">
        <section id="generalDetails">
            <h1 id="title">{{title}}</h1>
            <h5>Version: <span id="appVersion">{{appVersion}}</span></h5>

            <h3 class="accordion-trigger" ng-class="{'accordion-trigger-active':showDescription}"
                id="selection-description-trigger" ng-init="showDescription=false"
                ng-click="showDescription=!showDescription">Description</h3>

            <div class="accordion-container scrollable" ng-show="showDescription">
                <p id="description">{{description}}</p>
            </div>

            <h3 class="accordion-trigger" ng-class="{'accordion-trigger-active':showDetails}"
                id="selection-details-trigger" ng-init="showDetails=false"
                ng-click="showDetails=!showDetails">Selection Details</h3>

            <div class="accordion-container" id="selection-details" ng-show="showDetails">
                <div id="classSelectionInformation">
                    <p class="propDetails">Id: <span id="id">{{currentNode.id}}</span></p>

                    <p class="propDetails">Name: <span id="name">{{currentNode.details.name}}</span></p>

                    <p class="propDetails">Status: <span id="status">{{currentNode.details.status}}</span></p>

                    <p class="propDetails">Type: <span id="typeNode">{{currentNode.details.type}}</span></p>

                    <p class="propDetails">Version: <span id="nodeVersion">{{currentNode.details.nodeVersion}}</span></p>

                    <p class="propDetails">Group: <span id="group">{{currentNode.details.group}}</span></p>

                    <p class="propDetails">Database: <span id="database">{{currentNode.details.database}}</span></p>
                </div>
                <div id="noSelectionInformation" ng-show="!showDetails">
                    <p><span>Select an element in the visualization.</span></p>
                </div>
            </div>

            <h3 class="accordion-trigger" ng-class="{'accordion-trigger-active':showReleases}"
                id="selection-releases-trigger" ng-init="showReleases=false"
                ng-click="showReleases=!showReleases">Releases</h3>

            <div class="accordion-container" id="selection-releases" ng-show="showReleases" >
                <!--<p class="propDetails">Release: <span id="release">{{currentNode.releases[0]}}</span></p>-->
                <ul class="release-container">
                    <li ng-repeat='release in currentNode.releases'>{{release}}</li>
                </ul>
            </div>
        </section>
    </aside>
    <nav id="optionsArea">
        <ul id="optionsMenu">
            <li id="resetOption"><a id="reset-button" href="#" type="reset" ng-click="reset()">Reset</a></li>

            <li id="addNodeOption">
                <div id="addNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
                     role="dialog">
                    <h2 id="modalTitle">Add Node</h2>

                    <form>
                        <div class="row">
                            <div class="large-4 columns">
                                <label>Id
                                    <input type="text" placeholder="Enter Id"/>
                                </label>
                            </div>
                            <div class="large-4 columns">
                                <label>Name
                                    <input type="text" placeholder="Enter Name"/>
                                </label>
                            </div>
                            <div class="large-4 columns">
                                <label>Version
                                    <input type="text" placeholder="Enter Version"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Type
                                    <select>
                                        <option value="soap">SOAP</option>
                                        <option value="rest">REST</option>
                                        <option value="microservice">MICROSERVICE</option>
                                        <option value="db">DB</option>
                                    </select>
                                </label>
                            </div>
                            <div class="large-6 columns">
                                <label>Group
                                    <select>
                                        <option value="ngrp">NGRP</option>
                                        <option value="rhe">RHE</option>
                                        <option value="bps">BPS</option>
                                        <option value="bci">BCI</option>
                                        <option value="rosy">ROSY</option>
                                        <option value="toolbox">TOOLBOX</option>
                                        <option value="ppt">PPT</option>
                                        <option value="crmods">CRMODS</option>
                                        <option value="mbp">MBP</option>
                                        <option value="ima">IMA</option>
                                        <option value="csl">CSL</option>
                                        <option value="pdb">pdb</option>
                                        <option value="busc">BUSC</option>
                                        <option value="sapcache">SAPCACHE</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Status</label>
                                <input type="radio" name="nodeStatus" value="Up" id="nodeStatusUp"><label
                                    for="nodeStatusUp">Up</label>
                                <input type="radio" name="nodeStatus" value="Down" id="nodeStatusDown"><label
                                    for="nodeStatusDown">Down</label>
                                <input type="radio" name="nodeStatus" value="Down" id="nodeStatusUnknown"><label
                                    for="nodeStatusUnknown">Unknown</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Description
                                    <textarea placeholder="Enter Description"></textarea>
                                </label>
                            </div>
                        </div>
                        <a class="button custom-close-reveal-modal">Cancel</a>
                        <input type="submit" role="button" aria-label="submit form" href="#"
                               class="nice blue radius button" value="Submit"/>
                    </form>

                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
                <a href="#" data-reveal-id="addNodeModal">Add Node</a>

            </li>
            <li id="filterOption">
                <a href="#">Filter</a>
                <ul class="toolTipMenu filter">
                    <li class="toggleOption" id="datatypeFilteringOption">
                        <label>Search for id
                            <input ng-model="nodeSearch.id">
                        </label>
                    </li>
                    <li class="toggleOption" id="subclassFilteringOption">
                        <label>Status
                            <select ng-model="nodeSearch.status">
                                <option value="all">ALL</option>
                                <option value="up">UP</option>
                                <option value="down">DOWN</option>
                                <option value="unknown">UNKNOWN</option>
                            </select>
                        </label>
                    </li>
                    <li class="toggleOption" id="disjointFilteringOption">
                        <label>Type
                            <select ng-model="nodeSearch.type">
                                <option value="all">ALL</option>
                                <option value="soap">SOAP</option>
                                <option value="db">DB</option>
                                <option value="rest">REST</option>
                            </select>
                        </label>
                    </li>
                    <li class="toggleOption" id="setOperatorFilteringOption">
                        <label>Group>
                            <select ng-model="nodeSearch.group" ng-init="nodeSearh.group = 'all'">
                                <option value="all">ALL</option>
                                <option value="ngrp">NGRP</option>
                                <option value="rhe">RHE</option>
                                <option value="bps">BPS</option>
                                <option value="bci">BCI</option>
                                <option value="rosy">ROSY</option>
                                <option value="rhe">RHE</option>
                                <option value="ppt">PPT</option>
                                <option value="chrmods">CHRMODS</option>
                                <option value="mbp">MBP</option>
                                <option value="ima">IMA</option>
                                <option value="csl">CSL</option>
                                <option value="busc">BUSC</option>
                                <option value="pdb">PDB</option>
                                <option value="ppt">PPT</option>
                                <option value="sapache">SAPACHE</option>
                                <option value="oct">OCT</option>
                            </select>
                        </label>
                    </li>
                    <li>
                        <button ng-click="resetFilter()">Reset filter</button>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" charset="utf-8"></script>
<script src="scripts/angular/app.js" charset="utf-8"></script>
<script src="scripts/angular/directives.js" charset="utf-8"></script>
<script src="scripts/angular/controllers.js" charset="utf-8"></script>
<script src="scripts/angular/filters.js" charset="utf-8"></script>

<script src="scripts/vendor/jquery.js"></script>
<script src="scripts/foundation/foundation.min.js"></script>
<script src="scripts/vendor/fastclick.js" charset="utf-8"></script>
<script src="scripts/vendor/jquery.cookie.js" charset="utf-8"></script>
<script src="scripts/vendor/modernizr.js" charset="utf-8"></script>
<script src="scripts/vendor/placeholder.js" charset="utf-8"></script>

<!--<script src="scripts/jquery-1.10.2.min.js"></script>-->
<script src="scripts/underscore.js"></script>


<!--<script src="scripts/angular/directives.js" charset="utf-8"></script>-->

<!--<script src="scripts/microServe.js"></script>-->
<!--<script src="scripts/microServe-app.js"></script>-->


<!--<script src="scripts/backbone.js"></script>-->
<!--<script src="scripts/uritemplates.js"></script>-->
<!--<script src="scripts/bootstrap.js"></script>-->

<!--<script src="scripts/microserv-old.js"></script>-->

<div class="modal">&lt;!&ndash; Place at bottom of page &ndash;&gt;</div>

<script>
    //        window.onload = microServeApp.app().initialize;
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-12619410-19', 'visualdataweb.org');
    ga('send', 'pageview');
</script>


<script>$(document).foundation();
$('a.custom-close-reveal-modal').click(function () {
    $('#addNodeModal').foundation('reveal', 'close');
});</script>

<script>
    $(document).foundation();
</script>

</body>

</html>